.full-h{
  height:100%;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat-body .chat-img{
  padding:0;
  margin-left:5px;
}
.chat-body{
  width:80%;
}
.chat-img{
  width:15%;
  margin-left:5px;
  vertical-align:top;
  margin-top: 5px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel{
    margin-bottom:0px;
}

.panel-heading{
  margin-top:2px;
  padding:2px;
  color:white;
  background-color:#107595;
  border-top: 2px solid #107595;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
}

.panel-footer{
  margin-top:5px;
}

.panel-body
{
    overflow-y: scroll;
    height:410px;
    background-color: white;
    border: 2px solid #107595;
    border-radius: 2px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
